body{

	font-family: 'Open Sans', sans-serif;

	background-image: linear-gradient(to bottom right, #00F490, #0088C9);
}

h1{
	font-family: 'Abril Fatface', cursive;
	font-size: 4.3rem;
}


.jumbotron{
	background-color: rgba(0,0,0,0);
}

.drop_shadow{
	text-shadow: 0px 2px 2px rgba(0,0,0,0.153);
}


.lead{
	color: white;
	font-size: 2.2rem;
}


.btn-outline-light{

border-color: white;

}

.btn-outline-light:hover{

background-color: rgba(255,255,255,0.30);

}

h2{

	color: #00F490;

}